Include /etc/ssh/sshd_config.d/*.conf

PermitRootLogin no
AuthorizedKeysFile  .ssh/authorized_keys
KbdInteractiveAuthentication no

Compression no
ClientAliveInterval 15
ClientAliveCountMax 4

Subsystem   sftp    /usr/libexec/sftp-server